
.order-fields-destine-table .ant-table-selection-column,
.order-fields-destine-table .ant-table-selection-col,
.order-fields-source-table .ant-table-selection-column,
.order-fields-source-table .ant-table-selection-col {
  display: none;
}

.order-fields-source-table, .order-fields-destine-table {
  width: 100%;
  overflow: auto;
  max-height: 335px;
  min-height: 335px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.order-fields-destine-table {
  max-height: 373px;
  min-height: 373px;
}

.order-fields-source-table .ant-table-container,
.order-fields-destine-table .ant-table-container {
  border-inline-start: 0 !important;
}
.order-fields-source-table .ant-table-cell,
.order-fields-destine-table .ant-table-cell {
  border-inline-end: 0 !important;
}

.order-fields-source-table .ant-table-placeholder .ant-table-cell,
.order-fields-destine-table .ant-table-placeholder .ant-table-cell {
  border-bottom: 0;
}